@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background: #0d0d0d;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 650px;
  margin-top: 30px;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #ff9900;
}

.subtitle {
  text-align: center;
  margin-top: -10px;
  color: #ccc;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.btn {
  padding: 12px 16px;
  width: 48%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.primary {
  background: #ff9900;
  color: black;
}

.primary:hover {
  background: #ffaa22;
}

.secondary {
  background: #1f1f1f;
  color: white;
  border: 1px solid #333;
}

.secondary:hover {
  background: #2d2d2d;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid #2a2a2a;
}

.card h2 {
  margin-top: 0;
  color: #ff9900;
}

.card p {
  font-size: 15px;
  margin: 8px 0;
}
